.form-page{
    border: 1px solid rgb(217, 165, 33);
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
    0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
    0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgb(255, 245, 213),
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

input{
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    color: goldenrod;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
    0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
    0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}
form h3{
    color: goldenrod;
}
form span{
    text-decoration: underline;
    color: #6868fe;
    font-size: 16px;
    margin-left: 6px;
    cursor: pointer;
}
button{
    border: 1px solid goldenrod;
    background: white;
    color: goldenrod;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: all .4s ease;
}
button:hover{
    background: goldenrod;
    color: white;
}
.submit-button{
    background: white;
    cursor: pointer;
    font-size: 18px;
    transition: all .4s ease;

}
.submit-button:hover{
    background: goldenrod;
    color: white;
}
